[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ruby Language Support
Comment[el]=Υποστήριξη γλώσσας Ruby
Comment[es]=Soporte de lenguaje Ruby
Comment[et]=Ruby keele toetus
Comment[fr]=Prise en charge du langage Ruby
Comment[ga]=Tacaíocht Ruby
Comment[gl]=Soporte de Ruby
Comment[nds]=Ünnerstütten för Ruby
Comment[pt]=Suporte para a Linguagem Ruby
Comment[pt_BR]=Suporte à Linguagem Ruby
Comment[sv]=Stöd för språket Ruby
Comment[tr]=Ruby Dil Desteği
Comment[uk]=Підтримка мови Ruby
Comment[x-test]=xxRuby Language Supportxx
Name=KDevRubySupport
Name[sv]=KDevelop Ruby-stöd
Name[x-test]=xxKDevRubySupportxx
GenericName=Ruby Support
GenericName[el]=Υποστήριξη Ruby
GenericName[es]=Soporte de Ruby
GenericName[et]=Ruby toetus
GenericName[fr]=Prise en charge de Ruby
GenericName[ga]=Tacaíocht Ruby
GenericName[gl]=Soporte de Ruby
GenericName[nds]=Ruby-Ünnerstütten
GenericName[pt]=Suporte para Ruby
GenericName[pt_BR]=Suporte a Ruby
GenericName[sv]=Ruby-stöd
GenericName[tr]=Ruby Desteği
GenericName[uk]=Підтримка Ruby
GenericName[x-test]=xxRuby Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevrubylanguagesupport
X-KDevelop-Version=4
X-KDevelop-Language=Ruby
X-KDevelop-Args=RUBY
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=application/x-ruby
X-KDE-PluginInfo-Name=KDevRubySupport
X-KDevelop-Mode=NoGUI
