[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ruby Language Support
Comment[ca]=Implementació del llenguatge Ruby
Comment[de]=Sprachunterstützung für Ruby
Comment[el]=Υποστήριξη γλώσσας Ruby
Comment[en_GB]=Ruby Language Support
Comment[es]=Implementación del lenguaje Ruby
Comment[et]=Ruby keele toetus
Comment[fr]=Prise en charge du langage Ruby
Comment[ga]=Tacaíocht Ruby
Comment[gl]=Soporte de Ruby
Comment[hne]=रूबी भाखा समर्थन
Comment[ja]=Ruby 言語のサポート
Comment[nds]=Ünnerstütten för Ruby
Comment[pt]=Suporte para a Linguagem Ruby
Comment[pt_BR]=Suporte à linguagem Ruby
Comment[sv]=Stöd för språket Ruby
Comment[tr]=Ruby Dil Desteği
Comment[uk]=Підтримка мови Ruby
Comment[x-test]=xxRuby Language Supportxx
Name=KDevRubySupport
Name[ca]=KDevRubySupport
Name[de]=KDevRubySupport
Name[el]=KDevRubySupport
Name[en_GB]=KDevRubySupport
Name[es]=KDevRubySupport
Name[et]=KDevRubySupport
Name[fr]=KDevRubySupport
Name[ga]=KDevRubySupport
Name[gl]=KDevRubySupport
Name[hne]=के-डेव-रूबी-समर्थन
Name[ja]=KDevRubySupport
Name[nds]=KDevRubySupport
Name[nl]=KDevRubySupport
Name[pt]=KDevRubySupport
Name[pt_BR]=KDevRubySupport
Name[si]=KDevRubySupport
Name[sv]=KDevelop Ruby-stöd
Name[tr]=KDevRubySupport
Name[uk]=KDevRubySupport
Name[x-test]=xxKDevRubySupportxx
GenericName=Ruby Support
GenericName[ca]=Implementació de Ruby
GenericName[de]=Unterstützung für Ruby
GenericName[el]=Υποστήριξη Ruby
GenericName[en_GB]=Ruby Support
GenericName[es]=Implementación de Ruby
GenericName[et]=Ruby toetus
GenericName[fr]=Prise en charge de Ruby
GenericName[ga]=Tacaíocht Ruby
GenericName[gl]=Soporte de Ruby
GenericName[hne]=रूबी समर्थन
GenericName[ja]=Ruby サポート
GenericName[nds]=Ruby-Ünnerstütten
GenericName[nl]=Ondersteuning voor Ruby
GenericName[pa]=ਰੂਬੀ ਸਹਿਯੋਗ
GenericName[pt]=Suporte para Ruby
GenericName[pt_BR]=Suporte a Ruby
GenericName[sv]=Ruby-stöd
GenericName[tr]=Ruby Desteği
GenericName[uk]=Підтримка Ruby
GenericName[x-test]=xxRuby Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevrubylanguagesupport
X-KDevelop-Version=7
X-KDevelop-Language=Ruby
X-KDevelop-Args=RUBY
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=application/x-ruby
X-KDE-PluginInfo-Name=KDevRubySupport
X-KDevelop-Mode=NoGUI
