[General]
Name=Basic
Name[es]=Básica
Name[et]=Baas
Name[ga]=Bunúsach
Name[hu]=Alap
Name[nl]=Basis
Name[pt]=Básico
Name[pt_BR]=Básico
Name[sk]=Základné
Name[sv]=Enkel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Comment=Basic Ruby Class
Comment[es]=Clase Ruby básica
Comment[et]=Ruby baasklass
Comment[ga]=Bunaicme Ruby
Comment[hu]=Alap Ruby osztály
Comment[nl]=Basis Ruby klasse
Comment[pt]=Classe Básica em Ruby
Comment[pt_BR]=Classe básica em Ruby
Comment[sk]=Základná trieda Ruby
Comment[sv]=Enkel Ruby-klass
Comment[uk]=Базовий клас Ruby
Comment[x-test]=xxBasic Ruby Classxx
Category=Class/Ruby/Basic
Files=Definition

[Definition]
Name=Definition
Name[es]=Definición
Name[et]=Definitsioon
Name[ga]=Sainmhíniú
Name[hu]=Definíció
Name[nl]=Definitie
Name[pt]=Definição
Name[pt_BR]=Definição
Name[sk]=Definícia
Name[sv]=Definition
Name[uk]=Визначення
Name[x-test]=xxDefinitionxx
File=class.rb
OutputFile={{ name }}.rb
